.Item {
  background-color: rgb(253, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-left: 10px;
}

.select {
  background-color: rgb(202, 9, 9);
}

.select > .itemName {
  color: rgb(218, 210, 210);
}

.itemName {
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.promo {
  background-color: lightgrey;
  margin-top: 2px;
  font-size: 10px;
  padding: 0 5px;
  margin-bottom: 2px;
  border-radius: 10px;
}

img {
  margin-top: 10px;
  width: 50%;
}
