.sidebar {
  width: 35%;
}

img.usaFlag {
  width: 25px;
  height: 25px;
  margin-top: 30px;
}

.sidebar-top {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  right : 10px;
  top : 0;
}

.sidebar-main {
  position: fixed;
  right : 0;
  top : 20vh;
}

